<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhouwenbin.carsystem.dao.OtherManageMapper">
    <resultMap id="BaseResultMap" type="com.zhouwenbin.carsystem.entity.Cars" >
        <id column="carid" property="carid" jdbcType="INTEGER" />
        <result column="account" property="account" jdbcType="VARCHAR" />
        <result column="state" property="state" jdbcType="INTEGER" />
        <result column="category" property="category" jdbcType="VARCHAR" />
        <result column="price" property="price" jdbcType="INTEGER" />
        <result column="pos" property="pos" jdbcType="VARCHAR" />
        <result column="fixed" property="fixed" jdbcType="VARCHAR" />
        <result column="size" property="size" jdbcType="INTEGER" />
        <result column="carnum" property="carNum" jdbcType="VARCHAR" />
        <result column="photolocation" property="photolocation" jdbcType="VARCHAR" />
        <result column="pinpai" property="pinpai" jdbcType="VARCHAR" />
        <result column="yaprice" property="pinyapricepai" jdbcType="INTEGER" />
        <result column="errormsg" property="errormsg" jdbcType="VARCHAR" />
        <result column="money" property="money" jdbcType="INTEGER" />
    </resultMap>
    <!--id是方法名-->
    <!--新车登记-->
    <select id="selecterrorcar" resultType="com.zhouwenbin.carsystem.entity.Cars">
        select * from car where fixed="待修理"
    </select>
    <select id="selecterrorcarhavemsg" resultType="com.zhouwenbin.carsystem.entity.Cars">
        select * from car where fixed="待修理" and errormsg is not null
    </select>
    <select id="carinfo" resultType="com.zhouwenbin.carsystem.entity.Cars">
        select * from car where carid=#{carid}
    </select>
    <select id="selectusersinfo" resultType="com.zhouwenbin.carsystem.entity.Users">
        select * from users where grade =3
    </select>
    <update id="errorCardj" parameterType="com.zhouwenbin.carsystem.entity.Cars">
        update car set errormsg=#{errormsg},state=#{state},fixed="待修理" where carid=#{carid}
    </update>
    <update id="removeerrorcar" parameterType="com.zhouwenbin.carsystem.entity.Cars">
        update car set fixed="正常",state="正常",errormsg=null where carid=#{carid}
    </update>
    <update id="yibaofei" parameterType="com.zhouwenbin.carsystem.entity.Cars">
        update car set fixed="已报废" where carid=#{carid}
    </update>
    <update id="fixed" parameterType="com.zhouwenbin.carsystem.entity.Cars">
        update car set fixed="正常" where carid=#{carid}
    </update>
    <insert id="baofei">
        insert into baofeicar(carnum,carid,price,yaprice,size,fixed,errormsg,pos,category,photolocation,pinpai) values (#{carnum},#{carid},#{price},#{yaprice},#{size},#{fixed},#{errormsg},#{pos},#{category},#{photolocation},#{pinpai})
    </insert>
    <delete id="deluser" parameterType="com.zhouwenbin.carsystem.entity.Users">
        delete from users where account=#{account}
    </delete>
    <select id="selectusersbyid" resultType="com.zhouwenbin.carsystem.entity.Users">
        select * from users where account=#{account}
    </select>
    <update id="edituserinfo" parameterType="com.zhouwenbin.carsystem.entity.Users">
        update users set name=#{name},age=#{age},phone=#{phone},password=#{password} where account=#{account}
    </update>
    <select id="sumcarbycategory" resultType="com.zhouwenbin.carsystem.entity.categoryTosum">
        select  category,count(category)cs from car group by category
    </select>
</mapper>