<!DOCTYPE html>
<html class="x-admin-sm" lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" type="text/css" th:href="@{/layui/css/font.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/layui/css/xadmin.css}">
        <script src="./lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" th:src="@{layui/js/xadmin.js}"></script>
        <script  th:src="@{/layui/js/jquery-3.3.1.min.js}"></script>
        <script  th:src="@{/layui/js/baseUrl.js}"></script>
        <script th:src="@{/layuiGM/layui.js}"></script>
        <script type="text/javascript" th:src="@{layui/js/xadmin.js}"></script>
        <!--[if lt IE 9]>
        <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
            .layui-form-label{
                width: 150px;
            }
        </style>
    </head>
    <body>
    <div id="container">
    <form class="layui-form" action="" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>管理员账号</label>
            <div class="layui-input-inline">
                <input type="text" id="account" name="account" required="" placeholder="请输入管理员名称" lay-verify="required" autocomplete="off" class="layui-input"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>管理员名称</label>
            <div class="layui-input-inline">
                <input type="text" id="posername" name="posername" required="" placeholder="请输入管理员名称" lay-verify="required" autocomplete="off" class="layui-input"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>联系方式</label>
            <div class="layui-input-inline">
                <input type="text" id="phone" name="phone" required="" placeholder="请输入联系方式" lay-verify="required" autocomplete="off" class="layui-input"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>身份证</label>
            <div class="layui-input-inline">
                <input type="text" id="shenfenzheng" name="shenfenzheng" required="" placeholder="请输入身份证" lay-verify="required" autocomplete="off" class="layui-input"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>年龄</label>
            <div class="layui-input-inline">
                <input type="text" id="age" name="age" required="" placeholder="请输入年龄" lay-verify="required" autocomplete="off" class="layui-input"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>密码</label>
            <div class="layui-input-inline">
                <input type="text" id="password" name="password" required="" placeholder="请输入密码" lay-verify="required" autocomplete="off" class="layui-input"></div>
        </div>
    <!--<div class="layui-form-item">-->
            <!--<input type="hidden" name="account"  id="account" >-->
    <!--</div>-->
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" class="layui-btn  layui-btn-normal" lay-submit="" lay-filter="demo1" onclick="add()">添加</button>
            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
            <button type="reset" class="layui-btn   layui-btn-danger">重置</button>
        </div>
    </div>
    </form>
    </div>
    </body>
<script>
    var account = parent.$("#account").text();
    // $("#account").val(account);
    // 初始化form模块
    layui.use(['form','layer'], function(){
        var form = layui.form;
        var layer=layui.layer;
        //各种基于事件的操作，下面会有进一步介绍
        form.render(); //更新全部
    });
    function add() {
        var posername=$("#posername").val();
        var phone=$("#phone").val();
        var shenfenzheng=$("#shenfenzheng").val();
        var  account=$("#account").val();
        var age=$("#age").val();
        var password=$("#password").val();
        var Data={
            "posername":posername,
            "phone":phone,
            "shenfenzheng":shenfenzheng,
            "account":account
        };
        var Data1={
            "name":posername,
            "phone":phone,
            "shenfenzheng":shenfenzheng,
            "account":account,
            "password":password,
            "age":age
        }
        $.ajax({
            type:"post",
            url:"/poser/add",//对应controller路径
            async:false,
            contentType:"application/json",
            dataType:"json",
            data:JSON.stringify(Data),
            success:function (data) {
                layer.alert("管理员信息已生成", {
                        icon: 6
                    },
                    function () {
                        $.ajax({
                            type:"post",
                            url:"/poser/addtouser",//对应controller路径
                            async:false,
                            contentType:"application/json",
                            dataType:"json",
                            data:JSON.stringify(Data1),
                            success:function (data) {
                                layer.alert(data.msg, {
                                        icon: 6
                                    },
                                    function () {
                                        // layer.close(index);
                                        window.location.href = "/login/PoserSelect";
                                    });
                                // window.alert(data.msg);
                            },
                            error:function (e) {
                                console.log(e);
                            }
                        })
                        //关闭
                    });
                // window.alert(data.msg);
            },
            error:function (e) {
                console.log(e);
            }
        });
    }
</script>

</html>