<!DOCTYPE html>
<html class="x-admin-sm" lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" type="text/css" th:href="@{/layui/css/font.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/layui/css/xadmin.css}">
        <script src="./lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" th:src="@{layui/js/xadmin.js}"></script>
        <script  th:src="@{/layui/js/jquery-3.3.1.min.js}"></script>
        <script  th:src="@{/layui/js/baseUrl.js}"></script>
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
    <div id="container">
    <form class="layui-form" action="" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">可载人数</label>
        <div class="layui-input-inline">
            <input type="text" name="num" required lay-verify="required" placeholder="请输入可载人数" autocomplete="off" class="layui-input" id="num"  >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">类型名称</label>
        <div class="layui-input-inline">
            <input type="text" name="categoryname" required lay-verify="required" placeholder="请输入类型名称" autocomplete="off" class="layui-input" id="categoryname"  >
        </div>
    </div>
    <div class="layui-form-item">
            <input type="hidden" name="account"  id="account" >
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn  layui-btn-normal" lay-submit="" lay-filter="demo1" onclick="add()">添加</button>
            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
            <button type="reset" class="layui-btn   layui-btn-danger">重置</button>
        </div>
    </div>
    </form>
    </div>
    </body>
<script>
    var account = parent.$("#account").text();
    $("#account").val(account);
    // 初始化form模块
    layui.use('form', function(){
        var form = layui.form;

        //各种基于事件的操作，下面会有进一步介绍
        form.render(); //更新全部
    });
    function add() {
        var num=$("#num").val();
        var categoryname=$("#categoryname").val();
        var  account=$("#account").val();
        var Data={
            "num":num,
            "categoryname":categoryname,
            "account":account
        }
        $.ajax({
            type:"post",
            url:"/cartype/add",//对应controller路径
            // async:false,
            contentType:"application/json",
            dataType:"json",
            data:JSON.stringify(Data),
            success:function (data) {
                console.log(data);
                window.alert(data+"添加成功");
                window.location.href="/CarTypeSelect";
            },
            error:function (e) {
                console.log(e);
            }
        })
    }
</script>

</html>