<!DOCTYPE html>
<html class="x-admin-sm" lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport"
              content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
        <link rel="stylesheet" type="text/css" th:href="@{/layui/css/font.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/layui/css/xadmin.css}">
        <!--<link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" media="all">-->
        <!--连接网站资源-->
        <!--<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>-->
        <script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>
        <!--<script th:src="@{layui/lib/layui/layui.js}" charset="utf-8"></script>-->
        <script th:src="@{/layui/js/jquery-3.3.1.min.js}"></script>
        <script th:src="@{/layui/js/baseUrl.js}"></script>

        </head>
    
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form" id="form1">
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>name</label>
                        <div class="layui-input-inline">
                            <input type="text" id="names" name="names" required="" lay-verify="required" autocomplete="off" class="layui-input">
                        </div>

                        <label class="layui-form-label">
                            <span class="x-red">*</span>ModelNumber</label>
                        <div class="layui-input-inline">
                            <input type="text" id="ModelNumber" name="ModelNumber" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>Material</label>
                        <div class="layui-input-inline">
                            <input type="text" id="Material" name="Material" required="" lay-verify="required" autocomplete="off" class="layui-input">
                        </div>

                        <label class="layui-form-label">
                            <span class="x-red">*</span>PowerWattage</label>
                        <div class="layui-input-inline">
                            <input type="text" id="PowerWattage" name="PowerWattage" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>Voltage</label>
                        <div class="layui-input-inline">
                            <input type="text" id="Voltage" name="Voltage" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>

                        <label class="layui-form-label">
                            <span class="x-red">*</span>CRI</label>
                        <div class="layui-input-inline">
                            <input type="text" id="CRI" name="CRI" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>Lumen</label>
                        <div class="layui-input-inline">
                            <input type="text" id="Lumen" name="Lumen" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                      
                        <label class="layui-form-label">
                              <span class="x-red">*</span>CCT</label>
                          <div class="layui-input-inline">
                              <input type="text" id="CCT" name="CCT" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                    </div>
                  	<div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>BeamAngle</label>
                        <div class="layui-input-inline">
                            <input type="text" id="BeamAngle" name="BeamAngle" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                      
                        <label class="layui-form-label">
                              <span class="x-red">*</span>Socket</label>
                          <div class="layui-input-inline">
                              <input type="text" id="Socket" name="Socket" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                    </div>
                  	<div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>WorkingHour</label>
                        <div class="layui-input-inline">
                            <input type="text" id="WorkingHour" name="WorkingHour" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                      
                        <label class="layui-form-label">
                              <span class="x-red">*</span>Certificate</label>
                          <div class="layui-input-inline">
                              <input type="text" id="Certificate" name="Certificate" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                    </div>
                  	<div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>Specification</label>
                        <div class="layui-input-inline">
                            <input type="text" id="Specification" name="Specification" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                      
                        <label class="layui-form-label">
                              <span class="x-red">*</span>img1</label>
                          <div class="layui-input-inline">
                              <input type="text" id="img1" name="img1" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <button class="layui-btn" id="bt1" lay-filter="edit" lay-submit="">保存</button></div>
                </form>
            </div>
        </div>
        <script th:inline ="none">
            // function getQueryVariable(variable)
            // {
            //     var query = window.location.search.substring(1);
            //     var vars = query.split("&");
            //     for (var i=0;i<vars.length;i++) {
            //         var pair = vars[i].split("=");
            //         if(pair[0] == variable){return pair[1];}
            //     }
            //     return(false);
            // }

            // var cid = getQueryVariable('id');




            $.ajax({
                type:"post",
                data:{'id' : cid},
                url:baseUrl + '/Index/index1/acEdit',
                dataType:"json",
                success:function(data){
                    var data = data.data;
                    names.value = data.name;
                    ModelNumber.value = data.ModelNumber;
                    Material.value = data.Material;
                    PowerWattage.value = data.PowerWattage;
                    Voltage.value = data.Voltage;
                    CRI.value = data.CRI;
                    Lumen.value = data.Lumen;
                    CCT.value = data.CCT;                  
					BeamAngle.value = data.BeamAngle;
                  	Socket.value = data.Socket;
                  	WorkingHour.value = data.WorkingHour;
                  	Certificate.value = data.Certificate;
                  	Specification.value = data.Specification;
                  	img1.value = data.img1;
                }, 
                error:function(){
                   layer.alert("网络异常!", {icon : 5});
                }
            });

            layui.use(['form', 'layer'],function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;

                //监听提交
                form.on('submit(edit)',function(data) {
                    //发异步，把数据提交给php
                    $.ajax({
                        type:"get",
                        data:{
                            'id' : cid,
                            'name' : names.value,
                            'ModelNumber' : ModelNumber.value,
                            'Material' : Material.value,
                            'PowerWattage' : PowerWattage.value,
                            'Voltage' : Voltage.value,
                            'CRI' : CRI.value,
                            'Lumen' : Lumen.value,
                            'CCT' : CCT.value,                  
                            'BeamAngle' : BeamAngle.value,
                            'Socket' : Socket.value,
                            'WorkingHour' : WorkingHour.value,
                            'Certificate' : Certificate.value,
                            'Specification' : Specification.value,
                            'img1' : img1.value,
                        },
                        url:baseUrl + '/Index/index1/acUpdate',
                        dataType:"json",
                        success:function(data){
                            layer.alert("保存成功", {
                                icon: 6
                            },
                            function() {
                                window.parent.location.reload();
                                // 获得frame索引
                                var index = parent.layer.getFrameIndex(window.name);
                                //关闭当前frame
                                parent.layer.close(index);
                            });
                        }, 
                        error:function(){
                           layer.alert("网络异常!", {icon : 5});
                        }
                    }); 
                    return false;
                });
            });
        </script>
    </body>

</html>