<!DOCTYPE html>
<html class="x-admin-sm" lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/font.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/xadmin.css}">
    <!--<link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" media="all">-->
    <!--连接网站资源-->
    <!--<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>-->
    <script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>
    <!--<script th:src="@{layui/lib/layui/layui.js}" charset="utf-8"></script>-->
    <script th:src="@{/layui/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/layui/js/baseUrl.js}"></script>

    <style>
        .form-control {
            width: 40%;
        }
        .layui-form-select dl { max-height:200px; }
    </style>
</head>
<body>
<form class="layui-form" action="">
<div class="layui-form-item">
<label class="layui-form-label">车辆类型</label>
<div class="layui-input-inline">
    <select name="carType" id="carType" lay-verify="required" lay-search="" lay-filter="carType">
    <option value="">请选择车辆类型</option>
    </select>
</div>
<div class="layui-input-inline">
    <button class="layui-btn  layui-btn-normal" lay-submit="" lay-filter="demo1" onclick="addtype()">新增车辆类型</button>
</div>
<div class="layui-input-inline">
    <table class="layui-hide" id="hidetable" lay-filter="test"></table>
</div>
</div>
</form>

</body>
<!--<script type="text/javascript" th:src="@{layuiGM/layui.js}"></script>-->
<script th:src="@{/layuiGM/layui.js}"></script>
<script>
    var account = parent.$("#account").text();
    layui.use(['form','laypage','table'], function(){
        var laypage = layui.laypage //分页
            ,form = layui.form//表单
            ,table=layui.table;//表格
        $.ajax({
            url:"/cartype/select"
            ,type:"POST"
            ,contentType : "application/json;charsetset=UTF-8"//必须
            , success:function(datas){
                for (i = 0; i < datas.length;i++){
                    console.log("i:"+i);
                    console.log("datas[i]:"+datas[i]);
                    $("#carType").append("<option value='"+datas[i]+"'>"+datas[i]+"</option>");
                }
                form.render();//注意渲染页面表单，否则不显示数据
            },
            error: function() {
                layer.msg('获取规则失败');
                form.render();
            }
        });
        //上面是动态option
        //监听select
        form.on("select(carType)",function (data) {
            var dataa={
                "category":data.value
            };
            $.ajax({
                url:"/table/select"
                ,type:"POST"
                ,async:false
                ,dataType:"json"
                ,data:JSON.stringify(dataa)
                ,contentType : "application/json;charsetset=UTF-8"//必须
                , success:function (data) {
                    //这里渲染table

                    //执行一个 table 实例

                    //监听头工具栏事件

                    //监听行工具事件

                    //分页


                },error:function (e) {
                    console.log(e);
                }
            })
        })


        //各种基于事件的操作，下面会有进一步介绍
        form.render(); //更新全部
    });

    function addtype() {
        window.location.href="/login/AddType";
    }

</script>


</html>