<!doctype html>
<html  class="x-admin-sm" lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎登陆</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" type="text/css" href="../static/layui/css/font.css" th:href="@{/layui/css/font.css}" media="all">
    <link rel="stylesheet" type="text/css" href="../static/layui/css/login.css" th:href="@{/layui/css/login.css}" media="all">
    <link rel="stylesheet" type="text/css" href="../static/layui/css/xadmin.css" th:href="@{/layui/css/xadmin.css}" media="all">
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script  th:src="@{/layui/lib/layui/layui.js}" charset="utf-8"></script>
    <script  th:src="@{/layui/js/jquery-3.3.1.min.js}"></script>
    <script  th:src="@{/layui/js/baseUrl.js}"></script>
</head>
<body class="login-bg">

<div class="login layui-anim layui-anim-up">
    <div class="message">请您提供相关信息</div>
    <div id="darkbannerwrap"></div>

    <form class="layui-form" id="form1" action="" method="post" >
        <span class="layui-col-sm-offset4" style="color: red"></span>
        <div class="layui-form-item">
            <label class="layui-form-label">账户名</label>
            <div class="layui-input-inline">
                <input name="account" id="account" placeholder="账户名"  type="text" lay-verify="required" class="layui-input" >
            </div>
        </div>
        <hr class="hr15">
        <div class="layui-form-item">
            <label class="layui-form-label">联系方式</label>
            <div class="layui-input-inline">
                <input name="phone" id="phone" placeholder="联系方式"  type="text" lay-verify="required" class="layui-input" >
            </div>
        </div>
        <hr class="hr15">
        <div class="layui-form-item">
            <label class="layui-form-label">年龄</label>
            <div class="layui-input-inline">
                <input name="age" id="age" placeholder="年龄"  type="text" lay-verify="required" class="layui-input" >
            </div>
        </div>
        <hr class="hr15">
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input name="name" id="name" placeholder="姓名"  type="text" lay-verify="required" class="layui-input" >
            </div>
        </div>
        <hr class="hr15">
        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-inline">
                <input name="password" id="password" placeholder="新密码"  type="text" lay-verify="required" class="layui-input" >
            </div>
        </div>
        <hr class="hr15">
        <input value="提交修改" lay-submit lay-filter="login" style="width:100%;" type="button" onclick="editpassword()">
        <hr class="hr20" >
        <hr style="width: 85%" />
        <!--<div th:text="${messages}"></div>-->
    </form>
</div>

<script>
    layui.use(['form'], function(){
        var layer = layui.layer
            ,form = layui.form;
        form.render(); //更新全部
    });
    function editpassword() {
        var account=$("#account").val();
        var password=$("#password").val();
        var name=$("#name").val();
        var age=$("#age").val();
        var phone=$("#phone").val();
        Data={
            "account":account,
            "password":password,
            "name":name,
            "age":age,
            "phone":phone,
        }
        $.ajax({
            type:"post",
            url:"/login/forgetpwd",//对应controller路径
            async:false,
            contentType:"application/json",
            dataType:"json",
            data:JSON.stringify(Data),
            success:function (data) {
                layer.alert(data.msg, {
                        icon: 6
                    },
                    function () {
                        // layer.close(index);
                        window.location.href = "/login";
                    });
            },
            error:function (data) {
                window.alert("请核对所需信息项后重试");
            }
        });
    }
</script>
</body>
</html>