<!DOCTYPE html>
<html class="x-admin-sm" lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/font.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/xadmin.css}">
    <script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>
    <script src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{layui/js/xadmin.js}"></script>
    <script th:src="@{/layui/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/layui/js/baseUrl.js}"></script>
    <script th:src="@{/layuiGM/layui.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .form-control {
            width: 40%;
        }
    </style>
</head>
<body>
<div id="container">
    <form class="layui-form" action="" method="post" enctype="multipart/form-data">
        <div class="layui-form-item">
            <label class="layui-form-label">车辆品牌</label>
            <div class="layui-input-inline">
                <input type="text" name="cartype" required lay-verify="required" placeholder="请输入车辆品牌" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">车牌号</label>
            <div class="layui-input-inline">
                <input type="text" name="carnum" required lay-verify="required" placeholder="请输入车牌号" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">经手人</label>
            <div class="layui-input-inline">
                <input type="text" id="man" required lay-verify="required" placeholder="请输入车牌号" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">车辆规模</label>
            <div class="layui-input-inline">
                <select name="carType" lay-verify="required" lay-search="">
                    <option value="">请选择乘坐人数</option>
                    <option value="1">4-10人</option>
                    <option value="2">10-15人</option>
                    <option value="3"></option>
                </select>
            </div>
        </div>
    <!--************这里是上传图片的代码***************-->
    <!--************这里添加的隐藏的输入框，用来传递images的参数***************-->
    <input type="hidden" name="images" class="image">
    <div class="layui-form-item">
        <label class="layui-form-label ">照片:</label>
        <div class="layui-upload">
            <button type="button" class="layui-btn layui-btn-primary" id="photo" enctype=“multipart/form-data”><i class="layui-icon"></i>资源上传</button>

            <div class="layui-upload-list">
                <img class="layui-upload-img" id="demo1" style="width: 80px;height: 80px">
                <input type="text" name="sourcepath" id="sourcepath" style="width: 420px; display:none;margin-left: 25px;">
                <img src="../static/image/20200129013633_IMG_1457.JPG" style="width: 80px;height: 80px">
            </div>
        </div>
    </div>
    <!--************上面里是上传图片的代码***************-->
    <br>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn  layui-btn-normal" lay-submit="" lay-filter="demo1">登记</button>
            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
            <button type="reset" class="layui-btn   layui-btn-danger">重置</button>
        </div>
    </div>
    <br>
    </form>
</div>
</body>
<script>
    var account = parent.$("#account").text();
    $("#man").val(account);
// 初始化form模块
    layui.use('form', function(){
        var form = layui.form;

        //各种基于事件的操作，下面会有进一步介绍
        form.render(); //更新全部
    });

  // 初始化上传
    layui.use('upload', function(){
        var $ = layui.jquery
            ,upload = layui.upload;

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#photo'
            ,url: '/upload/uploadimages'//上传接口
            ,accept:'file'
            ,size: 307200
            ,method: 'POST'
            ,done: function(se){
                //如果上传失败
                if(se.code > 0){
                    return layer.msg('上传失败');
                }
                layer.alert("上传成功！"+se.msg, {
                    icon: 5,
                    title: "提示"
                });
                $("#sourcepath").val(se.msg);
                $("#demo1").attr("src","../static/image/"+se.filename);
            }
            ,error: function(se){
                layer.alert("后台出错",{
                    icon:5,
                    title:"提示"
                });
                $("#sourcepath").val(se.msg);
                $("#demo1").attr("src",se.msg);
            }
        });
    });
</script>

</html>