<!DOCTYPE html>
<html class="x-admin-sm" lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/font.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/xadmin.css}">
    <script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>
    <script src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{layui/js/xadmin.js}"></script>
    <script th:src="@{/layui/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/layui/js/baseUrl.js}"></script>
    <script th:src="@{/layuiGM/layui.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .form-control {
            width: 40%;
        }
    </style>
</head>
<body>
<div id="container">
    <form class="layui-form" action="" method="post" enctype="multipart/form-data" >
        <div class="layui-form-item">
            <label class="layui-form-label">车辆品牌</label>
            <div class="layui-input-inline">
                <input type="text" name="cartype" required lay-verify="required" placeholder="请输入车辆品牌" autocomplete="off" class="layui-input" id="pinpai"  >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">车牌号</label>
            <div class="layui-input-inline">
                <input type="text" name="carnum" required lay-verify="required" placeholder="请输入车牌号" autocomplete="off" class="layui-input" id="carnum"  >
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">车辆类型</label>
            <div class="layui-input-inline">
                <select name="carType" lay-verify="required" lay-search="" id="category" >
                    <option value="">请选择车辆类型</option>
                    <option value="1">小轿车（4人）</option>
                    <option value="2">商务车（7人）</option>
                    <option value="3">旅游大巴（9人）</option>
                </select>
            </div>
        </div>
        <!--************这里是上传图片的代码***************-->
        <!--************这里添加的隐藏的输入框，用来传递images的参数***************-->
        <input type="hidden" name="images" class="image" id="photolocation" >
        <div class="layui-form-item">
            <label class="layui-form-label ">照片:</label>
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="test1">上传图片</button>
                <div class="layui-upload-list">
                    <img class="layui-upload-img" id="demo1" style="width: 80px;height: 80px">
                    <p id="demoText"></p>
                </div>
            </div>
        </div>
        <!--************上面里是上传图片的代码***************-->
            <div class="layui-input-inline">
                <input type="hidden" id="man" required lay-verify="required" placeholder="请输入车牌号" disabled =“disabled” autocomplete="off" class="layui-input" >
            </div>
    <br>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn  layui-btn-normal" lay-submit="" lay-filter="demo1" onclick="dengji()">登记</button>
            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
            <button type="reset" class="layui-btn   layui-btn-danger">重置</button>
        </div>
    </div>
    <br>
    </form>
</div>
</body>
<script>
    var account = parent.$("#account").text();
    $("#man").val(account);
// 初始化form模块
    layui.use('form', function(){
        var form = layui.form;

        //各种基于事件的操作，下面会有进一步介绍
        form.render(); //更新全部
    });

  // 初始化上传
    layui.use('upload', function(){
        var $ = layui.jquery
            ,upload = layui.upload;

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: '/upload/uploadimages'
            ,accept:'images'
            ,size:50000
            ,before: function(obj){

                obj.preview(function(index, file, result){

                    $('#demo1').attr('src', result);
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
                var demoText = $('#demoText');
                demoText.html('<span style="color: #4cae4c;">上传成功</span>');

                var fileupload = $(".image");
                fileupload.attr("value",res.data.src);
                console.log(fileupload.attr("value"));
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });


    });
    function dengji() {
        // 获取输入框值
        var pinpai=$("#pinpai").val();
        var  carnum=$("#carnum").val();
        var account=$("#man").val();
        var category=$("#category option:selected").val();
        var photolocation=$("#photolocation").val();
        var DATA={
            "pinpai":pinpai,
            "carNum":carnum,
            "account":account,
            "category":category,
            "photolocation":photolocation
        }
        $.ajax({
            type:"post",
            url:"/carregister/carregister",//对应controller路径
            async:false,
            contentType:"application/json",
            dataType:"json",
            data:JSON.stringify(DATA),
            success:function (result) {
            console.log(result);
                window.alert(result+"注册成功");

        },
            error:function (e) {
                console.log(e);
            }

        })
    }
</script>

</html>