<!DOCTYPE html>
<html class="x-admin-sm" lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" type="text/css" th:href="@{/layui/css/font.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/layui/css/xadmin.css}">
        <script src="./lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" th:src="@{layui/js/xadmin.js}"></script>
        <script  th:src="@{/layui/js/jquery-3.3.1.min.js}"></script>
        <script  th:src="@{/layui/js/baseUrl.js}"></script>
        <script th:src="@{/layuiGM/layui.js}"></script>
        <script type="text/javascript" th:src="@{layui/js/xadmin.js}"></script>
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
    <!--<div class="x-nav">-->
        <!--<a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"-->
           <!--onclick="location.reload()" title="刷新">-->
            <!--<i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>-->
    <!--</div>-->
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">租赁点查询</label>
                            <div class="layui-input-inline">
                                <select name="carType" id="carType" lay-verify="required" lay-search=""
                                        lay-filter="carType">
                                    <option value="">请选择租赁点位置</option>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <button class="layui-btn  layui-btn-normal" lay-submit="" lay-filter="demo1"
                                        onclick="addPos()">新增租赁点
                                </button>
                                <button class="layui-btn  layui-btn-normal" lay-submit="" lay-filter="demo2"
                                        onclick="removePos()">删除该租赁点
                                </button>
                            </div>
                            <input type="hidden" id="carid">
                        </div>
                    </form>
                    <!--<div class="layui-card-header">-->
                    <!--<button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>-->
                    <!--<button class="layui-btn" onclick="xadmin.open('添加用户','./ac-add.html',700,500)"><i class="layui-icon"></i>添加</button>-->
                    <!--</div>-->
                    <div class="layui-card-body layui-table-body layui-table-main">
                        <table id="demo" lay-filter="test"></table>
                    </div>
                    <!----------------------- 工具条 -------------------------->
                    <script type="text/html" id="barDemo">
                        <a class="layui-btn layui-btn-xs" lay-event="edit1">编辑</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>

                </div>
            </div>
        </div>
    </div>
    <!--srcipt脚本-->
    <script>
        var account = parent.$("#account").text();
        layui.use(['form', 'laypage', 'table'], function () {
            var laypage = layui.laypage //分页
                , form = layui.form//表单
                , table = layui.table;//表格
            $.ajax({
                url: "/pos/select"
                , type: "POST"
                , contentType: "application/json;charsetset=UTF-8"//必须
                , success: function (datas) {
                    for (i = 0; i < datas.length; i++) {
                        $("#carType").append("<option value='" + datas[i] + "'>" + datas[i] + "</option>");
                    }
                    form.render();//注意渲染页面表单，否则不显示数据
                },
                error: function () {
                    layer.msg('获取规则失败');
                    form.render();
                }
            });
            //上面是动态option
            //监听select
            form.on("select(carType)", function (data) {
                table.render({
                    elem: '#demo'
                    , id: 'test'
                    , where: {"pos": data.value}
                    , url: '/pos/select1' //数据接口
                    , method: 'post'
                    , limit: 10//要传向后台的每页显示条数
                    , contentType: "application/json;charsetset=UTF-8"//必须
                    , page: true
                    , parseData: function (res) { //res 即为原始返回的数据
                        return {
                            "code": res.status, //解析接口状态
                            "msg": res.message, //解析提示文本
                            "count": res.total, //解析数据长度
                            "data": res.data //解析数据列表
                        }
                    }
                    , cols: [

                        [ //表头
                            {fixed: 'carid', type: 'checkbox', width: 70}
                            , {field: 'state', title: '车辆状态', width: 150}
                            , {field: 'category', title: '车辆类型', width: 150, sort: true}
                            , {field: 'size', title: '可乘人数', width: 150}
                            , {field: 'carnum', title: '车牌号', width: 150}
                            , {field: 'fixed', title: '修理状态', width: 80}
                            , {field: 'price', title: '租赁价格', width: 80}
                            , {field: 'yaprice', title: '租赁押金', width: 80}
                            , {field: 'pos', title: '租赁点', width: 80}
                            , {field: 'tool', title: '操作', width: 150, align: 'center', toolbar: '#barDemo'}
                        ]

                    ]
                });


            })


            layui.use('table', function () {
                var table = layui.table;
                table.on('tool(test)', function (obj) {
                    var data = obj.data;
                    var cid = data.carid;
                    if (obj.event == 'edit1') {
                        $("#carid").val(cid);
                        console.log("carid:" + cid);
                        xadmin.open('编辑', '/table/carEdit?carId=' + cid, 1200, 500);
                    } else if (obj.event == 'del') {
                        layer.confirm("确定要删除该条数据吗？", {
                            icon: 0,
                            title: '提示',
                            offset: '150px'
                        }, function (index) {
                            data1 = {
                                'carid': cid
                            };
                            $.ajax({
                                type: "post",
                                data: JSON.stringify(data1),
                                url: '/pos/null',
                                method: 'post',
                                dataType: "json",
                                contentType: "application/json;charsetset=UTF-8"//必须
                                , success: function (data) {
                                    // layer.msg("删除成功！",{icon : 0});
                                    layer.alert(data.msg, {
                                            icon: 6
                                        },
                                        function () {
                                            // layer.close(index);
                                            location.reload();
                                        });
                                },
                                error: function () {
                                    layer.alert("网络异常!", {icon: 5});
                                }
                            });
                        })
                    }
                });
            });


            //各种基于事件的操作，下面会有进一步介绍
            form.render(); //更新全部
        });

        function addPos() {
            window.location.href = "/login/Addpos";
        }
        function removePos() {
            var pos=$("#carType").val();
            console.log("pos::"+pos);
            data1={
                "pos":pos
            }
            $.ajax({
                type: "post",
                data: JSON.stringify(data1),
                url: '/pos/remove',
                method: 'post',
                dataType: "json",
                contentType: "application/json;charsetset=UTF-8"//必须
                , success:function (data) {
                    alert(data.msg);
                },error:function (e) {
                    console.log(e);
                }
            })
        }
    </script>
    </body>
</html>