<!DOCTYPE html>
<html class="x-admin-sm" lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/font.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/xadmin.css}">
    <script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>
    <script src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{layui/js/xadmin.js}"></script>
    <script th:src="@{/layui/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/layui/js/baseUrl.js}"></script>
    <script th:src="@{/layuiGM/layui.js}"></script>
    <script th:src="@{/echarts/echarts.min.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .form-control {
            width: 40%;
        }
        .layui-form-select dl { max-height:200px; }
    </style>
</head>
<body>
<!--表格主体-->
<div id="main" style="width: 600px;height:400px;"></div>
<!--引入script-->

<script >
    // var echarts = require('echarts');
    $(document).ready(function() {
        data={};
        $.ajax({
            type: "post",
            data: JSON.stringify(data),
            url: '/other/sumcarbycategory',
            method: 'post',
            dataType: "json",
            contentType: "application/json;charsetset=UTF-8",//必须
            success: function (data) {
                var list=data.data;
                // console.log("data="+list);
                // console.log("len="+data.data.length);
                // console.log("cs="+data.data[3].cs);
                // console.log("category0="+data.data[0]);
                var myChart = echarts.init(document.getElementById('main'));
                option = {
                    xAxis: {
                        type: 'category',
                        data: []//车辆类型
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [{
                        data: [],
                        type: 'bar'
                    }]
                };
                for (i = 0; i < data.data.length; i++) {
                    option.xAxis.data=option.xAxis.data+",["+[data.data[i].category]+"]";
                    console.log("xAxis.data="+option.xAxis.data);
                    option.series.data=option.series.data+",["+[data.data[i].cs]+"]";
                    console.log("series.data="+option.series.data);
                }
                myChart.setOption(option);
            }, error: function (e) {
                console.log(e);
            }
        });
    });
</script>

</body>


</html>