<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--连接网站资源-->
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
    <script th:src="@{/front/js/jquery-3.4.0.js}"></script>
    <script th:src="@{/front/js/bootstrap.min.js}"></script>
    <script th:src="@{/front/layui/layui.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/font.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/xadmin.css}">
    <!--<script src="js/jquery-3.4.0.js"></script>-->
    <!--<script src="./layui/layui.js"></script>-->
    <!--<script src="js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/layui/css/layui.css}"/>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/layui/css/admin.css}"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/front/css/bootstrap.min.css}"/>
    <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="./layui/css/layui.css">-->
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <title></title>
</head>
<body>
<!--导航条-->
<nav class="navbar navbar-inverse" style="margin-bottom: 0px;border-radius: 0px;">
    <div class="container">
        <div class="navbar-header">
            <div class="left_open">
                <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="index">首页</a></li>
                <li><a href="#">购车指南</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">租赁点查询</label>
                        <div class="layui-input-inline">
                            <select name="carType" id="carType" lay-verify="required" lay-search=""
                                    lay-filter="carType">
                                <option value="">请选择租赁点位置</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <button class="layui-btn  layui-btn-normal" lay-submit="" lay-filter="demo1"
                                    onclick="addPos()">新增租赁点
                            </button>
                            <button class="layui-btn  layui-btn-normal" lay-submit="" lay-filter="demo2"
                                    onclick="removePos()">删除该租赁点
                            </button>
                        </div>
                        <input type="hidden" id="carid">
                    </div>
                </form>
                <!--<div class="layui-card-header">-->
                <!--<button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>-->
                <!--<button class="layui-btn" onclick="xadmin.open('添加用户','./ac-add.html',700,500)"><i class="layui-icon"></i>添加</button>-->
                <!--</div>-->
                <div class="layui-card-body layui-table-body layui-table-main">
                    <table id="demo" lay-filter="test"></table>
                </div>
                <!----------------------- 工具条 -------------------------->
                <script type="text/html" id="barDemo">
                    <a class="layui-btn layui-btn-xs" lay-event="edit1">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                </script>

            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['element','form'], function(){
        var element = layui.element;
        var form=layui.form;
        form.render();
    });
</script>
</body>
</html>